a {
  text-decoration: none;
}

a:hover {
  font-weight: 900;
}

#loginMsg {
  visibility: hidden;
}

#regLegend,
#logLegend {
  font-size: medium;
}

@media (min-width: 768px) {
  #Connect-Page {
    width: 500px;
    margin: auto;
    height: auto;
  }
  body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: url("./assets/bg-connect.jpg") center center / cover no-repeat;
  }
}

@media (max-width: 768px) {
}
